{% extends "base.html" %}
{% block content %}
    <div class="detail_container">
        <div class="a_title">
            <h3>{{ article.a_title }}</h3>
        </div>
        <div class="article_info">
            <span>{{ article.a_ch_time }} 字数 123</span>
            <a href="/w/{{ article.id }}" class="fr">修改</a>
        </div>
        <div class="content_container">
            <div class="content">
                {% autoescape off %}
                    <p>{{ html }}</p>
                {% endautoescape %}
            </div>
        </div>
    </div>
{% endblock %}