{% extends "base.html" %}

{% block head %}
    <script type="text/javascript">
        $(function () {
            $('#wp_save').click(function () {
                txt = $("#text").html();
                $.post('/save{{ article.id }}', {article: txt}, function (dic) {
                    $ps_a = $('#ps_article');
                    $ps_a.empty();
                    $ps_a.html(dic.data);
                })
            });
        })
    </script>
{% endblock %}

{% block content %}
    <div class="write_container">

        <div class="write_platform fl">
            <div class="wp_title">
                <input type="text" id="wp_input" value={{ article.a_title }} >
            </div>
            <div class="wp_save_btn fr">
                <a class="wp_save" id="wp_save">保存</a>
            </div>
            <div class="wp_article">
                <label><textarea id="text">{{ article.a_content }}</textarea></label>
            </div>
        </div>

        <div class="pre_show fr">
            <div class="ps_title"><h1>{{ article.a_title }}</h1></div>
            <div class="ps_article" id="ps_article">
                {% autoescape off %}
                {{ html }}
                {% endautoescape %}
            </div>
        </div>
    </div>

{% endblock %}
